<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        .div1 {
            height: 20vh;
            width: 10vw;
            background-color: red;
            animation-direction: alternate;
        }

        .div1:hover {
            animation-name: moveBox;
            animation-duration: 3s;
            animation-direction: alternate;

        }

        .div2 {
            height: 20vh;
            width: 10vw;
            background-color: green;
        }

        .div2:hover {
            transform: scale(4);
        }

        @-webkit-keyframes moveBox {
            100% {
                transform: translate(400px, 50px);
            }
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zachary(Thanks Obabo)</title>
</head>

<body>
    <h1>Hey, here's my experiments section, its pretty fun i guess idk lmao</h1>
    <h2>me and Zach McIntyre just kinda fuck around</h2>
    <div class="div1"></div>
    <div class="div2"></div>
</body>

</html>